<div class="container">

    <div class="row">
        <div class="col-md-6" id="left">
            <app-quote-form></app-quote-form>
        </div>
        <div class="col-md-6" id="right">
            <div *ngFor='let quote of quotes;let i = index'>
                <div>
                    <p>{{ quote.quote }}</p>
                    <button class="btn btn-outline-warning" (click)="toggleDetails(i)">Toggle Details</button>
                </div>

                <div *ngIf="quote.showDetails">
                    <app-quote-detail [quote]='quote' (toDelete)="deleteQuote($event, i)"></app-quote-detail>
                </div>               
            </div>
        </div>
    </div>
   
</div>