<div class="container">

    <div class="row">
        <div class="col-md-6" id="left">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
        <div class="col-md-6 px-2" id="right">
            <div *ngFor='let quote of quotes;let i = index'>
               <div class="quote-element my-3 p-2">
                <div>
                    <p class="quote">"{{ quote.quote }}"</p>
                    <div class="popularity">
                        <p class="authorName">Author: {{ quote.authorName }}</p>
                        <div class="tray my-1">
                            <button (click)="upvoteQuote(i)" class="btn btn-outline-primary">Upvote {{quote.upvote}}</button>
                            <button (click)="downvoteQuote(i)" class="btn btn-outline-primary mx-3">DownVote {{quote.downvote}}</button>
                        </div>
                    </div>
                    <button class="btn btn-outline-warning" (click)="toggleDetails(i)">Toggle Details</button>
                </div>

                <div *ngIf="quote.showDetails">
                    <app-quote-detail [quote]='quote' (toDelete)="deleteQuote($event, i)"></app-quote-detail>
                </div>  
               </div>             
            </div>
        </div>
    </div>
   
</div>