<div class="container">
    <h2>My Quotes</h2>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes;let i = index'>
                <div>
                    <li>{{ quote.quote }}</li>
                    <button class="btn btn-outline-warning" (click)="toggleDetails(i)">Toggle Details</button>
                </div>

                <div *ngIf="quote.showDetails">
                    <app-quote-detail [quote]='quote' (toDelete)="deleteQuote($event, i)"></app-quote-detail>
                </div>               
            </div>
        </div>
    </div>
   
</div>