<div class="container-fluid">
    <h2>Create a new Quote</h2>
    <hr>
    <form #quoteForm="ngForm">
        <div class="form-group">
            <label for="authorName">Author Name:</label>
            <input type="text" required class="form-control" id="authorName" [(ngModel)]="newQuote.authorName" name="authorName">

        </div>
        <div class="form-group">
            <label for="quote">Quote:</label>
            <textarea  rows="5" class="form-control" id="quote" required [(ngModel)]="newQuote.quote" name="quote"></textarea>
        </div>
        <div class="form-group">
            <label for="submiitedBy">Submitted By:</label>
            <input type="text" required class="form-control" id="submiitedBy" [(ngModel)]="newQuote.submittedBy" name="submittedBy">
        </div>      
    </form>
</div>